<IfModule mod_rewrite.c>
    RewriteEngine On

    # Keep requests inside Laravel public directory.
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    DirectoryIndex public/index.php
</IfModule>
